html {
  min-height: 80vh;
}
body {
  min-height: 80vh;
}

div.table {
  position: absolute;
  top: 3%;
  left: 3%;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  margin: 0 37% 0 0;
  height: 94%;
  width: 60%;
  display: table;
}
div.table-row {
  position: relative;
  left: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: table-row;
}
div.table-cell {
  position: absolute;
  border-style: dotted;
  border-width: 1px;
  box-sizing: border-box;
  margin: 0;
  height: 10%;
  width: 20%;
  display: table-cell;
}

div.row1 {
  top: 0%;
}
div.row2 {
  top: 10%;
}
div.row3 {
  top: 20%;
}
div.row4 {
  top: 30%;
}
div.row5 {
  top: 40%;
}
div.row6 {
  top: 50%;
}
div.row7 {
  top: 60%;
}
div.row8 {
  top: 70%;
}
div.row9 {
  top: 80%;
}
div.row10 {
  top: 90%;
}

div.col0 {
  height: 20%;
  left: 0%;
}
div.col1 {
  left: 20%;
}
div.col2 {
  left: 40%;
}
div.col3 {
  left: 60%;
}
div.col4 {
  left: 80%;
}
