html {
  min-height: 80vh;
}
body {
  min-height: 80vh;
}

div.table {
  position: absolute;
  top: 5;
  left: 5;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  margin: 0 40% 0 0;
  height: 100%;
  width: 60%;
  display: table;
}
div.table-row {
  position: relative;
  left: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: table-row;
}
div.table-cell {
  position: absolute;
  border-style: dotted;
  border-width: 1px;
  box-sizing: border-box;
  margin: 0;
  height: 10%;
  width: 20%;
  display: table-cell;
}

div.row1 {
  top: 0%;
}
div.row2 {
  top: 0%;
}

div.col0 {
  height: 20%;
  left: 0%;
}
div.col1 {
  left: 20%;
}
div.col2 {
  left: 40%;
}
div.col3 {
  left: 60%;
}
div.col4 {
  left: 80%;
}
